:root {
    /* Color Scheme Variables */
    --primary-color: #FFDA05;
    --secondary-color: #2B2B2B;
}

/* General body styling */
body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Container for content */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header { 
    background: var(--secondary-color); 
    padding: 20px 0; 
}

header nav { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

h2 {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--primary-color);
    margin: 10px 0px;
    padding: 20px;
}

/* Paragraph Styling */

p {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--primary-color);
    margin: 10px 0px;
    padding: 20px;
}

/* Styling for navigation */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary-color);
    padding: 10px;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent; /* Add border for button effect */
    border-radius: 5px; /* Rounded corners for buttons */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

nav a.active, nav a:hover {
    color: var(--secondary-color); /* Dark text on hover */
    background-color: var(--primary-color); /* Bright background on hover */
    border-color: var(--primary-color); /* var(--primary-color) border to match the background */
}

.hero { 
    text-align: center; 
    padding: 50px 20px; 
}

.hero h1 { 
    margin: 0;
}

/* Call to Action Button Style */
.cta-button {
    display: inline-block;
    background-color: var(--secondary-color); /* Primary button color */
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color); /* Darker shade on hover for effect */
}


.about, .projects, .contact { 
    padding: 40px 20px; 
}

/* Projects grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    background-color: var(--secondary-color);
    padding: 15px;
}

.project-info h3 {
    display: inline-block;
    background-color: var(--primary-color); /* Primary button color */
    color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.3s ease;
    margin-top: 0;
}

 /* Flexbox container */
 .flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.blog-posts {
    width: auto;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
}

.post h3 a {
    color: var(--secondary-color); /* Adjust based on your color scheme */
    text-decoration: none; /* Removes underline */
}

.post p {
    color: var(--primary-color); /* Lighter text color for description */
}

.post a {
    color: orange; /* Color for 'Read more' link */
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    /* Ensures footer is at the bottom */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer .social-links {
    margin-top: 20px;
}

.footer .social-links a {
    display: inline-block;
    background-color: var(--secondary-color); /* Primary button color */
    color: var(--primary-color);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.footer .social-links a:hover {
    display: inline-block;
    background-color: var(--primary-color); /* Primary hover color */
    color: var(--secondary-color);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
