:root {
    /* Color Scheme Variables */
    --primary-color: #FFDA05;
    --secondary-color: #2B2B2B;
    --darkmode-container-bg: #222;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--secondary-color); /* Dark mode background */
    color: var(--primary-color); /* Dark mode text color */
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--darkmode-container-bg); /* Dark mode container background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
}

/* General form styling */
.form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form-group:last-child {
    margin-bottom: 0;
}

/* Styling for headings and form elements */
h2, label, select, input[type="text"], input[type="password"], button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--primary-color); /* Dark mode border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--secondary-color); /* Dark mode background */
    color: var(--primary-color); /* Dark mode text color */
}

.form-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 63px; /* Adjusted for consistency */
    cursor: pointer;
}

/* Light mode specific styles */
.light-mode {
    background-color: #f5f5f5; /* Light mode body background */
    color: var(--secondary-color); /* Light mode text color */
}

.light-mode .container {
    background-color: #fff; /* Light mode container background */
    color: var(--secondary-color); /* Light mode container text color */
}

.light-mode h2,
.light-mode label, 
.light-mode select, 
.light-mode input[type="text"], 
.light-mode input[type="password"], 
.light-mode button {
    background-color: #fff; /* Light mode form elements background */
    border-color: #ccc; /* Light mode form elements border */
    color: var(--secondary-color); /* Light mode form elements text */
}

/* QR code and dark mode toggle adjustments */
#qrcode, .toggle-dark-mode {
    margin-top: 20px;
    text-align: center;
}

#qrcode img {
    width: 100%;
    height: auto;
}

/* Toggle button styling */
.light-mode-toggle {
    border: none;
    color: var(--secondary-color); /* Light mode toggle button text color */
    font-size: 24px;
    cursor: pointer;
}

/* Icon adjustments */
.light-mode-toggle .icon {
    font-size: 24px;
}

.light-mode-toggle .moon-icon {
    display: none;
}

.light-mode .light-mode-toggle .sun-icon {
    display: none;
}

.light-mode .light-mode-toggle .moon-icon {
    display: inline;
}

.security-message {
    color: var(--primary-color); /* Light mode security message color */
    text-align: center;
}

.light-mode .security-message {
    color: var(--secondary-color); /* Light mode security message color */
    text-align: center;
}
