body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form-group:last-child {
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label, select, input[type="text"], input[type="password"], button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

.form-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 60px; /* Adjust this value based on your input's size and padding */
    cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

#qrcode {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 50%; /* Adjusted width for QR code */
}

#qrcode img {
    width: 100%; /* Adjusted image width */
    height: auto;
}

.toggle-dark-mode {
    margin-top: 20px;
    text-align: center;
}

/* Adjusted dark mode styles for input fields and buttons */
.dark-mode .form-group input[type="text"],
.dark-mode .form-group input[type="password"],
.dark-mode .form-group select,
.dark-mode .form-group button {
    background-color: #444;
    color: #eee;
}

/* Dark mode toggle button styles */
.dark-mode-toggle {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
}

/* Sun and moon icons */
.dark-mode-toggle .icon {
    font-size: 24px;
}

.dark-mode-toggle .sun-icon {
    display: none;
}

.dark-mode .dark-mode-toggle .moon-icon {
    display: none;
}

.dark-mode .dark-mode-toggle .sun-icon {
    display: inline;
}
